#grandparent{
    border: 2px solid red;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent{
    border: 2px solid greenyellow;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#child{
    border: 2px solid blue;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}